extends layout.pug

block content
  .w-full.bg-grey-lighter.h-screen.flex.justify-center.items-center
    form(method='post', action="/users/register").w-64.bg-white.shadow-md.rounded.p-8.mb-4.mr-2
      h1 ÜYE OL
      input(placeholder="Kullanıcı Adı", name="username", type="text", autocomplete="off")
      input(placeholder="Şifre", name="password", type="password", autocomplete="off")

      button GÖNDER

      //- .flex.items-center.border-b.border-b-2.border-teal-500.py-2
      //-   input.appearance-none.bg-transparent.border-none.w-full.text-gray-700.mr-3.py-1.px-2.leading-tight(class='focus:outline-none', name="username", type='text', placeholder='Adınız', aria-label='Full name')
      //-   button.flex-shrink-0.bg-teal-500.border-teal-500.text-sm.border-4.text-white.py-1.px-2.rounded(class='hover:bg-teal-700 hover:border-teal-700' type='submit')
      //-     | Sign Up
        //- button.flex-shrink-0.border-transparent.border-4.text-teal-500.text-sm.py-1.px-2.rounded(class='hover:text-teal-800' type='button')
          | Cancel

    form(method='post', action="/users/login").w-64.bg-white.shadow-md.rounded.p-8.mb-4.ml-2
      h1 ÜYE GİRİŞİ
      input(placeholder="Kullanıcı Adı", type="text", autocomplete="off")
      input(placeholder="Şifre", type="password", autocomplete="off")

      button GÖNDER


block scripts
  script(src="/js/index.js")
