<!DOCTYPE html>
html(lang="tr").h-full.w-full
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Chat

    block styles
      link(
        rel="stylesheet",
        href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      )

  body.h-full.w-full
    block content

    script(
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'
    )
    script(
      src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js'
    )

    block scripts

