extends layout.pug

block content
  h1= 'Kullanıcı Ekleme'
  input(type="text" placeholder="mesajınız" id='name')
  input(type="button" value="Gönder" onClick='kaydet()')

block scripts
  script(src="/js/chat.js")
